<!DOCTYPE html>
<html>
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <h1>The <strong>facebook</strong> Friend Machine</h1>
  <div ng-app="firstApp" ng-controller="FriendController" class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">

        <!-- <input ng-model="searchTerm" class="form-control" placeholder="Search Anything About Your Friends"> -->
        <!-- STEP 5: Get rid of the one above when you uncomment the below-->
          
        <input ng-model="nameSearch.name" class="form-control" placeholder="Search Name">
        <input ng-model="locationSearch.current_location.city" class="form-control" placeholder="Search Location">
          
        <select ng-options="option.value as option.name for option in sortOptions" ng-model="sortType"></select>

        <select ng-options="option.value as option.name for option in upOrDown" ng-model="sorter"></select>


<!--         <select class="input-medium" ng-model="sorter">
          <option value="name">Name</option>
          <option value="numFriends">#Friends</option>
          <option value="city">City</option>
          <option value=" ">State</option>
          <option value="Country">Country</option>
        </select> -->

<!--         <select class="input-medium">
          <option value="+">Descending</option>
          <option value="-">Ascending</option>
        </select> -->

<!--         <li ng-repeat="friend in friends | filter:nameSearch | filter:locationSearch | orderBy:sortType:sorter"><img ng-src="{{friend.pic_square}}"/> {{ friend.name }} {{ friend.current_location.city }} {{ friend.current_location.state }} {{ friend.current_location.country }} {{ friend.friend_count }} Friends</li> -->



      </div>
    </form>

    <ul>
      <li class='friend'>
        <img class="profile-pic" src='http://placebear.com/50/50.jpg'>

        <h3>Cali Fornia</h3>

        <div class="location">
          Location: New Port Beach, California, United States
        </div>

        <div class="status">
          Status: I hate the snow. I wish I was on the beach right now!!! <span class="hashtag">#ihateprovo</span>
        </div>

        <div class="num-friends">
          Friends: 1,367
        </div>
      </li>
      
      <li class='friend' ng-repeat="friend in friends | filter:nameSearch | filter:locationSearch | orderBy:sortType:sorter">
        <img class="profile-pic" ng-src="{{friend.pic_square}}">

        <h3>{{ friend.name }} </h3>

        <div class="location">
          Location: {{ friend.current_location.city }}, {{ friend.current_location.state }}, {{ friend.current_location.country }}
        </div>

        <div class="status">
          Status: {{ friend.status.message }} 
        </div>

        <div class="num-friends">
          Friends: {{ friend.friend_count }}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="FriendController.js"></script>
</body>
</html>
